@model HSC.Models.Vehicle

@{
    ViewData["Title"] = "Edit - " + Model.Number;
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1 class="Page-Heading">@ViewData["Title"]</h1>

<div>
    <a asp-action="Index" class="back-btn"><i class='bx bx-arrow-back'></i> Back to List</a>
</div>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kmPrice" class="control-label"></label>
                <input asp-for="kmPrice" class="form-control" />
                <span asp-validation-for="kmPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="owner" class="control-label"></label>
                <input asp-for="owner" class="form-control" />
                <span asp-validation-for="owner" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



