<div class="sidebar close">
    <div class="logo-details">
        <i class='bx bx-grid-alt'></i>
        <span class="logo_name">HSC</span>
    </div>
    <ul class="nav-links">
        <li class="active">
            <a href="#">
                <i class='bx bx-grid-alt'></i>
                <span class="link_name">Dashboard</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Dashboard</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-file-blank'></i>
                    <span class="link_name">Invoice</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Invoice</a></li>
                <li><a href="#">All Invoices</a></li>
                <li><a href="#">Debit Invoices</a></li>
                <li><a href="#">Add Invoice</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-id-card'></i>
                    <span class="link_name">Workers</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Workers</a></li>
                <li><a href="#">All Workers</a></li>
                <li><a href="#">Add Worker</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-user'></i>
                    <span class="link_name">Customers</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Customers</a></li>
                <li><a href="#">All Customers</a></li>
                <li><a href="#">Add Customer</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-car'></i>
                    <span class="link_name">Vehicles</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Vehicles</a></li>
                <li><a href="#">All Vehicles</a></li>
                <li><a href="#">Add Vehicle</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-plug'></i>
                    <span class="link_name">Tools</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Tools</a></li>
                <li><a href="#">All Tools</a></li>
                <li><a href="#">Add Tool</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-store'></i>
                    <span class="link_name">Products</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Products</a></li>
                <li><a href="#">All Products</a></li>
                <li><a href="#">Add Products</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-cog'></i>
                <span class="link_name">Setting</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Setting</a></li>
            </ul>
        </li>
    </ul>
</div>


<button id="navbar-collapse-btn">
    <div class="line-1"></div>
    <div class="line-2"></div>
    <div class="line-3"></div>
</button>


<div class="action">
    <div class="profile" onclick="menuToggle();">
        <img src="https://sahilbhatiya.me/img/2.jpg" />
    </div>
    <div class="menu">
        <h3>Someone Famous<br /><span>Website Designer</span></h3>
        <ul>
            <li>
                <a href="#">
                    <i class='bx bx-user'></i>
                    My profile
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    Edit profile
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    Setting
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-log-out'></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</div>